.LoginPost {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 50%;
    height: calc(100vh - 70px);
    place-items: center;
    flex-direction: column;
    .addCommentContainer {
        flex: 20%;
        width: 100%;
        display: grid;
        place-items: center;
        margin-top: 25px;
        input,
        button {
            width: 200px;
            height: 50px;
            border-radius: 8px;
            border: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        input {
            border: 2px solid dodgerblue;
        }
        button {
            background-color: dodgerblue;
            color: white;
        }
    }
}
